body {
    display: flex;
    background-color: beige;
}

.test {
    font-weight: bold;
    font-size: large;
    margin: 20px;
    padding: 20px;
    background-color: aquamarine;
    color: forestgreen;
}

.test:hover {
    transform: rotate(180deg);
}